body::before {
	content: "";
	position: fixed;
	left: 0;
	top:0;
	right:0;
	bottom:0;
	z-index: -1;

	/* Background pattern from subtlepatterns.com */
	background-image: url("images/congruent_pentagon.png");
	background: linear-gradient(0deg, rgb(255,124,133), rgb(245,201,160), rgb(148,220,187));
}

.content-area {
	background-color : rgba(248,255,248,0.7);
	margin: 50px;
	padding: 30px;
	/*border: 1px solid rgba(28,20,13,0.9);*/
	border-radius: 30px;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	max-width: 400px;
}

#title {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-bottom: 0.75em;
	margin-top: 0em;
}

.alert {
	padding: 8px;
	filter: opacity(90%);
	-webkit-filter: opacity(90%);
}

#meme-text-input {
	border: 1px solid rgba(28,20,13,0.5);
	font-family : "Helvetica Neue" , "Helvetica" , "Arial", "sans-serif";
	font-size : 16px;
    line-height : 20px;
    font-weight : 400; 
    letter-spacing : .01em; 
    word-wrap : break-word; 
    color : #292f33;
}

input[type="text"] {
	display: block;
	width: 100%;
}

#meme_text {
	resize: none;
}

input:focus, #meme_text:focus, li:focus, .tab-item:focus{
	color: inherit;
}

.action-button {
	font-family: 'Raleway', sans-serif;
	display: block;
	margin: 0 auto;
	background-color : inherit;
	color : #1C140D;
	border: 1px solid rgba(28,20,13,0.5);
	font-size: 14pt;
	border-radius: 4em;
	transition: background-color 0.2s, color 0.2s;
}

.action-button:hover {
	background-color : rgb(28,20,13);
	color : #F2E9E1;
	transition: background-color 0.2s, color 0.2s;
}

.action-button:active {
	background-color: rgba(28,20,13,0.80);
}

.action-button:focus, .action-button:active:focus{
	outline: none;
}

.download-content {
	padding: 30px;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, 
  	rgba(28,20,13,0.20), rgba(28,20,13,0.90), rgba(28,20,13,0.20));
  background-image: -moz-linear-gradient(left, 
  	rgba(28,20,13,0.20), rgba(28,20,13,0.90), rgba(28,20,13,0.20));
  background-image: -ms-linear-gradient(left, 
  	rgba(28,20,13,0.20), rgba(28,20,13,0.90), rgba(28,20,13,0.20));
  background-image: -o-linear-gradient(left, 
  	rgba(28,20,13,0.20), rgba(28,20,13,0.90), rgba(28,20,13,0.20));
}

.image {
	max-width: 100%;
	margin-bottom: 20px;
}

footer {
	position: absolute;
	bottom: 0px;
	margin: 5px;
	right: 10px;
}

address {
	margin: 0px;
}
